.title-registration {
    font-size: 28px;
    font-weight: bold;

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }

    @media (min-width: 768px) {
        margin-bottom: 80px;
    }
}

.sub-title-registration {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    color: #2E5266;
    border-bottom: 1px solid #f4f4f4;
}

.card-registration {
    box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.05);
    min-height: 320px;
    position: relative;
    padding: 0;

    @media (max-width: 767px) {
        min-height: 320px;
        width: 94%;
        margin: auto auto 35px auto;
    }

    @media (min-width: 768px) and (max-width: 992px) {
        height: 450px;
        max-width: 45%;
    }

    @media (min-width: 992px) {
        height: 320px;
        max-width: 46%;
    }

    @media (min-width: 1200px) {
        max-width: 47%;
    }

    @media (min-width: 768px) {
        margin: auto 15px;
    }
}

.card-body {
    padding: 30px;
    border:none;
}

.footer-card {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 30px;

    @media (max-width: 767px) {
        position: relative;
    }

    @media (min-width: 768px) {
        position: absolute;
    }
}
