<div class="site-main">
  <div class="container">

  <div class="title-registration text-center">Start your Registration</div>
<div class="row">

  <div class="card-registration col-md-6">
      <div class="sub-title-registration">
        Brand, Designers and Buyers
      </div>
      <div class="card-body msg mb-0">
        Discover, sample and source everything you need from one complete platform. We have created a network of high-quality
        suppliers to help you streamline the sourcing process and give you access to the finest materials in one click.
      </div>
      <div class="footer-card text-center">
        <a [routerLink]="['/brand-sign-up']" class="btn btn-primary  btn-lg">Register</a>
      </div>
    </div>


  <div class="card-registration col-md-6">
  <div class="sub-title-registration">
    Supplier
  </div>
  <div class="card-body msg mb-0">
    We have created a network of high quality suppliers that can connect with international brands, online. Bsamply makes
    the whole process easier, faster and more efficient.
  </div>
  <div class="footer-card text-center">
    <a [routerLink]="['/supplier-sign-up']" class="btn btn-primary  btn-lg">Apply</a>
  </div>
    </div>

  </div>
</div>
  </div>
