<div class="title-form">You're just one step away from joining us</div>
<p class="mb-5 mt-5">What type of profile do you prefer to have?</p>
<div>
<div class="form-group">
  <div class="radio">
    <label class="form-check-label" attr.for="status-profile">
      <input type="radio" class="form-check-input" name="status-profile" [checked]="true"
        value="public" [(ngModel)]="profileStatus">
      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>Public profile
    </label>

  </div>
</div>
<div class="form-group">
  <div class="radio">
    <label class="form-check-label" attr.for="status-profile">
      <input type="radio" class="form-check-input" name="status-profile"  value="private" [(ngModel)]="profileStatus">
      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>Private profile
    </label>

  </div>
</div>
<div class="form-group">
  <div class="radio">
    <label class="form-check-label" attr.for="status-profile">
      <input type="radio" class="form-check-input" name="status-profile" value="private-public" [(ngModel)]="profileStatus">
      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>Private and public profile
    </label>

  </div>
</div>
<p class="mb-5 margin-top-6"><strong>Public profile:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p class="mb-5"><strong>Private profile:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


</div>
<div class="d-flex flex-row flex-nowrap justify-content-end align-items-end align-content-between margin-top-6">
  <button type="button" (click)="goPrev()" class="btn btn-outline-primary bsly-btn-medium mr-4">Previous
    step</button>
  <button class="btn btn-primary bsly-btn-medium" type="button" [disabled]="loading"
    (click)="goNext()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span>{{valueBtnNext}}</span>
  </button>


</div>
