@import "spinner.scss";
@import "bootsrap/bootstrap.scss";
@import "old_style.scss";

@font-face {
    font-family: "Helvetica Neue";
    src: url("/assets/fonts/Helvetica.ttf");
}

/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/montserrat-v13-latin-300.eot"); /* IE9 Compat Modes */
    src: local("Montserrat Light"), local("Montserrat-Light"), url("/assets/fonts/montserrat-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-v13-latin-300.woff2") format("woff2"), url("/assets/fonts/montserrat-v13-latin-300.woff") format("woff"), url("/assets/fonts/montserrat-v13-latin-300.ttf") format("truetype"), url("/assets/fonts/montserrat-v13-latin-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/montserrat-v13-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url("/assets/fonts/montserrat-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-v13-latin-regular.woff2") format("woff2"), url("/assets/fonts/montserrat-v13-latin-regular.woff") format("woff"), url("/assets/fonts/montserrat-v13-latin-regular.ttf") format("truetype"), url("/assets/fonts/montserrat-v13-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/montserrat-v13-latin-500.eot"); /* IE9 Compat Modes */
    src: local("Montserrat Medium"), local("Montserrat-Medium"), url("/assets/fonts/montserrat-v13-latin-500.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-v13-latin-500.woff2") format("woff2"), url("/assets/fonts/montserrat-v13-latin-500.woff") format("woff"), url("/assets/fonts/montserrat-v13-latin-500.ttf") format("truetype"), url("/assets/fonts/montserrat-v13-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/montserrat-v13-latin-600.eot"); /* IE9 Compat Modes */
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("/assets/fonts/montserrat-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-v13-latin-600.woff2") format("woff2"), url("/assets/fonts/montserrat-v13-latin-600.woff") format("woff"), url("/assets/fonts/montserrat-v13-latin-600.ttf") format("truetype"), url("/assets/fonts/montserrat-v13-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/montserrat-v13-latin-700.eot"); /* IE9 Compat Modes */
    src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/assets/fonts/montserrat-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/montserrat-v13-latin-700.woff2") format("woff2"), url("/assets/fonts/montserrat-v13-latin-700.woff") format("woff"), url("/assets/fonts/montserrat-v13-latin-700.ttf") format("truetype"), url("/assets/fonts/montserrat-v13-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}

.site-main {
    @media (min-width: 992px) {
        min-height: 55vh;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 991px) {
        min-height: 25vh;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.container {
    @media (min-width: 1300px) {
        max-width: 1200px;
    }
}

/***************************************************
*              Titles,Headings,Links
***************************************************/
h1, .h1, h2, h3, .h3, h4, h5, h6 {
    font-weight: 400;
    color: #2E5266;
}

.h1, h1, .bsly-page-title {
    font-weight: 700;
    margin-bottom: 20px;
    color: #2E5266;

    @media (max-width: 767px) {
        font-size: 30px;
    }

    @media (min-width: 768px) {
        font-size: 42px;
    }
}

.h2, h2 {
    font-weight: 700;
    margin-bottom: 25px;
    color: #2E5266;
    font-size: 28px;
}

.title-form {
    font-weight: 700;
    margin-bottom: 25px;
    border-bottom: 1px solid #F4F4F4;
    color: #333333;
    text-align: left;

    @media (max-width: 767px) {
        font-size: 20px;
        padding-bottom: 15px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 24px;
        padding-bottom: 15px;
    }

    @media (min-width: 1200px) {
        font-size: 28px;
        padding-bottom: 25px;
    }
}

.sub-title-form {
    font-weight: 700;
    color: #2E5266;
    text-align: left;

    @media (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 25px;
    }

    @media (min-width: 768px) {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.bsly-page-title.text-center:after {
    content: "";
    height: 5px;
    width: 57px;
    background-color: #4A4A4A;
    display: block;
    margin: 15px auto;
}

h3, .h3 {
    font-size: 19px;
    margin: 15px 0;
}

.margin-top-50 {
    margin-top: 50px;
}

.main-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 3.43px;
    line-height: 39px;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;

    &:after {
        content: "";
        height: 2px;
        width: 70px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.mini-title {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.page-title {
    color: #000;
    font-size: 19px;
    font-weight: 400px;
    margin-bottom: 15px;
}

/***************************************************
*             End Titles,Headings
***************************************************/

/***************************************************
*               Buttons
***************************************************/
.btn-primary {
    &:hover {
        background-color: #FFFFFF;
        color: #2E5266 !important;
    }
}

.bsly-btn-style-outline {
    background-color: #2E5266;
    color: #FFFFFF;
    border: 2px solid #2E5266;
    font-size: 16px;
    font-weight: 600;
    border-width: 2px;
    border-radius: 0;

    &:hover {
        background-color: #FFFFFF;
        color: #2E5266 !important;
        border: 2px solid #2E5266;
    }
}

.dropdown-menu.show {
    width: 256px;
    font-size: 12px !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #2E5266;
}

button:disabled, input[type="button"]:disabled {
    background-color: #F4F4F4 !important;
    color: #C4C4C4 !important;
    border: 2px solid #F4F4F4 !important;
    cursor: not-allowed !important;
    pointer-events: all !important;

    &:hover {
        background-color: #F4F4F4;
        color: #C4C4C4 !important;
        border: 2px solid #F4F4F4;
        cursor: not-allowed;
        pointer-events: all !important;
    }
}

.bsly-input-medium {
    height: 50px;
    padding: 8px 13px !important;
    font-size: 16px;
    font-weight: 600;
    border-width: 2px;
    border-radius: 0;
}

.bsly-input-large {
    height: 60px;
}

.bsly-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.bsly-btn-medium {
    max-width: 256px;
    width: 100%;
    height: 50px;
}

.bsly-select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url(../../assets/images/icons/arrow-down.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
}

.bsly-input {
    color: #666;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #DDDDDD;
    border-radius: 3.6px;
    background-color: #FFFFFF;
    max-width: 415px;

    &:focus {
        border: 1px solid #B6B6B6;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);
        outline: none;
    }

    &:disabled {
        border: 1px solid #D5D5D5;
        background-color: #EFEFEF;
    }

    &::-webkit-input-placeholder {
        /* Chrome */
        color: #999999;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: #999999;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #999999;
        opacity: 1;
    }

    &:-moz-placeholder {
        /* Firefox 4 - 18 */
        color: #999999;
        opacity: 1;
    }
}

.bsly-form {
    max-width: 415px;
    margin: auto;
}

.bsly-form-control, select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #555;
    font-size: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
}

.disabled {
    background-color: rgb(235, 235, 228) !important;
    opacity: 0.3 !important;
    cursor: not-allowed !important;
}

.field_required {
    color: #D0021B;
}

.field_error {
    border: 1px solid #D0021B !important;
    background-image: url(../../assets/images/svg/question-mark.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
}

input[type="password"] {
    background-image: none !important;
}

.form-control {
    font-size: 12px;

    &:focus {
        border-color: #ced4da;
        box-shadow: none;
    }
}

.form-error {
    margin-top: 10px;
    font-size: 12px;
    margin-left: 0;
    display: block;
    clear: both;
    color: #D0021B;
}

.bsly-label {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/**checkbox input style**/

.checkbox label:after, .radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: .25em;
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 1.25em;
}

.radio .cr {
    position: relative;
    border: 2px solid #2E5266;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: 0.75em;
    border-radius: 50%;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: 1em;
    line-height: 0;
    top: 50%;
    left: 10%;
    color: #2E5266;
}

.radio .cr .cr-icon {
    position: absolute;
    font-size: 1em;
    line-height: 0;
    top: 50%;
    left: 10%;
    margin-left: 0.04em;
    color: #2E5266;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
    opacity: 0;
    transition: all .2s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/**end checkbox input style**/

input[type="radio"], input[type="checkbox"] {
    margin-right: 15px;
}

.medium-input-toggle-password {
    .toggle-password {
        margin-top: -37px;
    }
}

.toggle-password {
    float: right;
    margin-right: 15px;
    margin-top: -41px;
    padding-left: 10px;
    font-size: 22px;
    position: relative;
    z-index: 2;
    border-left: 1px solid #D8D8D8;
    cursor: pointer;
    color: #999999;
}

.error {
    color: #D0021B;
}

// toggle button
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
    line-height: 5px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 16px;
        left: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input {
    &:checked + .slider {
        background-color: #2E5266;
    }

    &:focus + .slider {
        box-shadow: 0 0 1px #2E5266;
    }

    &:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;

    &:before {
        border-radius: 50%;
    }
}

body .ui-inputgroup .ui-inputgroup-addon {
    padding: 0.429em 0.75rem;
    color: #999999;
    border: 1px solid #CCCCCC;
    min-width: 3em;
}

/***************************************************
*           END  Forms ,inputs
***************************************************/

/***************************************************
*           Header
***************************************************/

.sticky {
    background: #FFFFFF;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999999999;
}

/***************************************************
*          End Header
***************************************************/

/***************************************************
*          POPUPS
***************************************************/

.multi-step-item-accordion-main {
    border: 1px solid #ECEBED;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
    height: 50px;
    padding: 15px 25px;
    font-size: 14px;
    margin-bottom: 5px;
}

.multi-step-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: lef;
    text-transform: uppercase;
}

.multi-step-accordion-plus {
    float: right;

    i {
        color: #999999;
    }
}

.row-company-design {
    @media (min-width: 992px) {
        padding: 0 60px;
    }

    @media (max-width: 991px) {
        padding: 0;
    }
}

/*************End Popup company design************/

/***************************************************
*          END POPUPS
***************************************************/

/***************************************************
*         Custom Margin
***************************************************/
.responsive-margin-top {
    @media (max-width: 767px) {
        margin-top: 25px;
    }
}

.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-160 {
    margin-bottom: 160px;
}

.margin-top-6 {
    margin-top: 6rem;
}

/***************************************************
*         END Custom Margin
***************************************************/

.font-size-16 {
    font-size: 16px;
}

.medium {
    height: 160px;
}

/***************************************************/
.step-item {
    height: 42px;
    width: 42px;
    color: #CCCCCC;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
}

.nav-bar-steps {
    @media (min-width: 768px) {
        height: 12%;

        &:after {
            content: "";
            background-color: #CCCCCC;
            display: block;
            width: 33px;
            height: 5px;
            margin: 60px auto auto auto;
            position: absolute;
        }
    }
}

.privacy-policy {
    color: #283C5A;
    font-size: 14px;

    &:before {
        content: "";
        background-color: #CCCCCC;
        display: block;
        width: 33px;
        height: 5px;
        margin: auto auto 60px auto;
        position: relative;
    }

    @media (min-width: 768px) and (max-width: 1199px) {}

    height: 18%;

    @media (min-width: 1200px) {
        height: 12%;
    }
}

.information-sign-up {
    height: 70%;
}

.info-img {
    @media (max-width: 767px) {
        margin-right: 10px;
    }

    @media (min-width: 768px) {
        margin-bottom: 25px;
    }
}

.info-title {
    color: #2E5266;
    font-weight: bold;

    @media (max-width: 767px) {
        font-size: 18px;
    }

    @media (min-width: 768px) {
        margin-bottom: 25px;
        text-align: center;
        font-size: 20px;
    }
}

.info-text {
    font-size: 14px;
    color: $body-color;
}

.left-container {
    @media (max-width: 767px) {
        padding: 20px 25px 25px 25px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 20px 40px 40px 40px;
    }

    @media (min-width: 1200px) {
        padding: 45px 60px 60px 60px;
    }
}

.right-container {
    border-radius: 0 10px 10px 0;

    @media (min-width: 768px) {
        box-shadow: -27px 0 61px -8px rgba(0, 0, 0, 0.02);
    }

    @media (max-width: 767px) {
        padding: 25px;
        box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.05);
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 20px 30px 30px 30px;
    }

    @media (min-width: 1200px) {
        padding: 45px 60px 60px 60px;
    }
}

.bsly-mobi-step {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #F4F4F4;
}

.containter-material-items {
    border-radius: 6px;
    box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.03);
    padding: 30px;
}

.multi-step-item-accordion-wrapper {
    margin-bottom: 25px;
}

.checkbox-shadow-selected {
    box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.07);
}

.info-required {
    color: #D0021B;
    font-size: 12px;
    margin-left: 15px;
}

.active-step {
    border: 3px solid #2E5266;
    color: #2E5266;
    border-radius: 50%;
}

.msg {
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 35px;
}

.msg-container {
    max-width: 978px;
    margin: auto;
}

.captcha-container {
    background-color: #f8f9fa;
    border: 1px solid #DDDDDD;
    border-radius: 3.6px;
}

.refresh-capcha {
    height: 50px;

    i {
        font-size: 2em;
        color: #2E5266;
        cursor: pointer;

        @media (min-width: 768px) {
            padding-left: 15px;
        }
    }
}

.ngx-select__toggle {
    border: 1px solid #DDDDDD !important;
    height: 50px;
    line-height: 35px;

    &:hover {
        background-color: #FFFFFF !important;
    }
}

.ngx-select__choices {
    margin-top: 10px !important;
}

.ngx-select__item_active {
    background-color: #FFFFFF !important;
    color: $body-color !important;
}

.ngx-select.dropdown.open.show {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);
    outline: none;
}

.ngx-select__toggle-buttons{
.dropdown-toggle{
  display: none;
}

}
svg-icon.icon.card-icon svg {
    width: 200px !important;
    height: 36px !important;
}

.width-80 svg {
    width: 80px !important;
    height: 80px !important;

    @media (max-width: 767px) {
        width: 45px !important;
        height: 45px !important;
    }
}

.width-45 svg {
    width: 45px !important;
    height: 45px !important;
}

.width-16 svg {
    width: 16px !important;
    height: 16px !important;
}

.icon {
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

// override accordiong nbootrsap

p-card label, .card-body {
    padding: 0;
}

.card {
    border: inherit;
}

.card-header .btn {
    width: 100%;
}
