.bsly-btn-small {
    font-size: 13px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 40px;
    max-width: 256px;
}


.bsly-btn-popup-company-design {
    justify-content: center;

    button {
        width: 382px;
    }
}



.modal-footer,
.modal-header {
    border: none;
}

.row-company-design {
    @media (min-width: 992px) {
        padding: 0 60px;
    }

    @media (max-width: 991px) {
        padding: 0;
    }
}

.bsly-btn {
    color: $white;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
    line-height: 30px;
    width: 100%;

    @media (min-width: 1200px) {
        padding: 8px 50px;
    }

    @media (max-width: 1199px) {
        padding: 8px 10px;
    }
}
