//
// Rotating border
//

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: text-bottom;
    border: 6px solid #2E5266;
    border-right-color: transparent;

    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    width: 18px;
    height: 18px;
    border-width: 3px;
    position: relative;
    z-index: 2;
    margin-right: 5px;
}
