<div class="title-form">Join Our Exclusive Network</div>
<form [formGroup]="accountInformationForm" class="bsly-sing-up-form-supplier">
  <div class="form-group">
    <label for="companyName" class="bsly-label">Legal Business Name*</label>
    <input type="text" class="form-control bsly-input bsly-input-medium"
      name="companyName"
      formControlName="companyName" [(ngModel)]="supplier.name"
      [ngClass]="{ 'field_error':f['companyName'].errors && f['companyName'].touched}"
      placeholder="Type your company name" />
    <div *ngIf="f['companyName'].touched &&f['companyName'].errors"
      class="form-error">
      <div *ngIf="f['companyName'].errors['required']">This field is required</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="firstName" class="bsly-label">First Name*</label>
        <input type="text" formControlName="firstName"
          [(ngModel)]="accountSupplier.firstName"
          class="form-control bsly-input bsly-input-medium" [ngClass]="{
          'field_error':f['firstName'].errors &&
          f['firstName'].touched}" name="firstName" placeholder="Type your name" />
        <div *ngIf="f['firstName'].touched &&f['firstName'].errors"
          class="form-error">
          <div *ngIf="f['firstName'].errors['required']">This field is required</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="lastName" class="bsly-label">Last Name*</label>
        <input type="text" formControlName="lastName"
          [(ngModel)]="accountSupplier.lastName"
          class="form-control bsly-input bsly-input-medium" [ngClass]="{
          'field_error':f['lastName'].errors &&
          f['lastName'].touched}" name="lastName" placeholder="Type your family name" />
        <div *ngIf="f['lastName'].touched &&f['lastName'].errors" class="form-error">
          <div *ngIf="f['lastName'].errors['required']">This field is required</div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">

    <label for="email" class="bsly-label">Legal Business E-mail*</label>
    <input type="email" class="form-control bsly-input bsly-input-medium"
      name="email"
      formControlName="email" [(ngModel)]="accountSupplier.email"
      [ngClass]="{ 'field_error':f['email'].errors &&
      f['email'].touched}" placeholder="Ex: contact@company.com" />
    <div *ngIf="f['email'].touched && f['email'].errors"
      class="form-error">
      <div *ngIf="f['email'].errors['required']">This field is required</div>
      <div *ngIf="f['email'].errors['isValidMailFormat']">The email address you entered is
        not a valid.</div>
      <div *ngIf="f['email'].errors['checkUniqueEmail']">Email address is already exist !</div>
      <div *ngIf="f['email'].errors['isProfessionnal']">Email address is not professionnal</div>
    </div>
  </div>
    <div class="form-group">
      <label for="emailConfirmation" class="bsly-label">Confirm Legal Business E-mail*</label>
      <input type="email" class="form-control bsly-input bsly-input-medium" name="emailConfirmation"
        formControlName="emailConfirmation" [(ngModel)]="accountSupplier.emailConfirmation" [ngClass]="{ 'field_error':f['emailConfirmation'].errors &&
          f['emailConfirmation'].touched}" placeholder="Ex: contact@company.com" />
      <div *ngIf="f['emailConfirmation'].touched && f['emailConfirmation'].errors" class="form-error">
        <div *ngIf="f['emailConfirmation'].errors['required']">This field is required</div>
        <div *ngIf="f['emailConfirmation'].errors['isValidMailFormat']">The email address you entered is
          not a valid.</div>
          <div *ngIf="f['emailConfirmation'].errors['MatchEmail']"> The emails do not match</div>

      </div>
    </div>
  <div class="form-group medium-input-toggle-password">
    <label for="password" class="bsly-label">Password*</label>
    <input type="password" class="form-control bsly-input bsly-input-medium"
      name="password"
      formControlName="password" [(ngModel)]="accountSupplier.password"
      [ngClass]="{ 'field_error':f['password'].errors && f['password'].touched }"
      placeholder="Create a new password" appPassword/>
    <div *ngIf="f['password'].touched &&f['password'].errors" class="form-error">
      <div *ngIf="f['password'].errors['required']">This field is required</div>
    </div>
  </div>

  <div class="form-group">
      <label for="captcha" class="bsly-label">Enter the letters as shown above the
        box*</label>
    <div class="row captcha-row">
      <div class="col-md-4">

    <input *ngIf="windowWidth>767" type="text" name="captcha" formControlName="captcha"
    class="form-control captcha-input bsly-input
      bsly-input-medium " /></div>
      <div class="col-md-4 col-7 pl-md-0 pr-md-0" [ngClass]="{'bsly-mob-captcha': windowWidth<768}">
      <div class="captcha-container text-center" [innerHTML]="captchaImage"></div>
      </div>
      <div class="col-md-1  col-2 refresh-capcha d-flex align-items-center pl-0">
      <i class="fa fa-refresh" aria-hidden="true" (click)="refreshCaptchaService()"></i>
      </div>
        <div class="col-12">

          <input  *ngIf="windowWidth<768" type="text" name="captcha" formControlName="captcha" class="form-control captcha-input bsly-input
              bsly-input-medium" /></div>
</div>
      <div *ngIf="f['captcha'].touched &&f['captcha'].errors" class="form-error">
        <div *ngIf="f['captcha'].errors['required']">This field is required</div>
        <div *ngIf="f['captcha'].errors['checkCaptcha']">Wrong text! try again.</div>
      </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label class="form-check-label" attr.for="privacy-policy">
        <input type="checkbox" class="form-check-input" name="privacy-policy"
          formControlName="agreePrivacyPolicy">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>I agree to
        the <a routl href="/privacy-policy/" target="_blank">BSAMPLY
          Privacy Policy</a> and <a href="/terms-and-conditions/"
          target="_blank" class="open-terms-and-conditions-popup-action">terms
          and terms and conditions</a>.*
      </label>
    </div>
  </div>
</form>
<app-flash-message></app-flash-message>


<!-- <div class="btn-form">
  <button class="btn bsly-btn-medium btn-primary
                  float-right" type="button" [disabled]="!accountInformationForm.valid||loading" (click)="goNext()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span>{{valueBtnNext}}</span>
  </button>
</div> -->

<div class="btn-form">
  <button class="btn bsly-btn-medium btn-primary
                  float-right" type="button"  (click)="goNext()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span>{{valueBtnNext}}</span>
  </button>
</div>

