<header>
  <h1>snapface</h1>
  <nav>
    <a routerLink="" >Home</a>
    <a routerLink="facesnaps">FaceSnaps</a>
    <a routerLink="login" routerLinkActive="active">Login</a>
    <a routerLink="signup">Sign UP</a>
    <a routerLink="supplier-sign-up" >Suplier Sign UP</a>
    <a routerLink="contacts" >Contact</a>

    
  </nav>
</header>