.contact-page {
  .col{
    padding: 30px;
  }
  .col:first-child{
    border-right: 1px solid #e4e4e4;
  }

}
.site-main{
  padding-top:0;
}

.h3,.inline-icons-wrapper{
  text-align: center;
  text-align: center;
}
.inline-icons {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  @media(max-width:768px){
    margin-left: 0;
  margin-right: 10px;
  }
  i.fa {
    display: inline-block;
    border-radius: 60px;
    font-size: 2.5rem;
    color: #fff;
    background-color: #000;
    width: 68px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    @media(max-width:768px){
      font-size: 2rem;
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
    &:hover {
      color: #dcb86c !important;
    }
  }
  a{
    display: block;
  }
}

.container-border-cell{
  text-align: center;
  padding: 30px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.contact-details {
  margin-top: 30px;
  strong{
    color: #000;
  }
}
