<div class="site-main contact-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="h3">WHERE WE ARE</div>
        <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3305.7254742547966!2d-118.4617764!3d34.0509125!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb8645287bc7%3A0x57edfb424e34420e!2s11601+Wilshire+Blvd+%23500%2C+Los+Angeles%2C+CA+90025%2C+USA!5e0!3m2!1sen!2sit!4v1517500522136"
          width="100%" height="338" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        <div class="contact-details">
          <p style="margin-bottom: 5px"><strong>HEAD OFFICE</strong></p>
            <div id="head-office"></div>
        </div>
      </div>
      <div class="col">
          <div class="h3">SEND US A MESSAGE</div>
          <form name="formLogin"  #f="ngForm" >

          <div class="form-group" [ngClass]="{ 'field_error': f.submitted && !email.valid }">
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"  placeholder="Your e-mail *" required email />
            <div *ngIf="f.submitted && email.invalid" class="form-error">
              <div *ngIf="email?.errors?.['required']">Email is required</div>
              <div *ngIf="email?.errors?.['email']">Please enter a valid email address.</div>
            </div>
        </div>
          <div class="form-group" [ngClass]="{ 'field_error': f.submitted && !subject.valid }">
            <input type="text" name="subject" [(ngModel)]="model.subject" #subject="ngModel" class="bsly-form-control" placeholder="Subject*"  required>
            <div *ngIf="f.submitted && !subject.valid" class="form-error">This field is required</div>
          </div>

          <div Class="form-group" [ngClass]="{ 'field_error': f.submitted && !message.valid }">
            <textarea class="bsly-form-control medium" name="message" [(ngModel)]="model.message" #message="ngModel" placeholder="Message*" rows="10" cols="50" required></textarea>
            <div *ngIf="f.submitted && !message.valid" class="form-error">This field is required</div>
          </div>
          <div Class="form-group">
            <button  class="btn btn-primary btn-lg">SEND YOUR MESSAGE</button>
          </div>

        </form>
        <div class="contact-details">
          <strong>GENERAL</strong><br>
          <a href="{{settings.generalEmail}}">{{settings.generalEmail}}</a>
          <p><strong>PRESS</strong><br> <a href="{{settings.pressEmail}}">{{settings.pressEmail}}</a></p>
        </div>
      </div>
    </div>
  </div>
      <div class="container-border-cell">
        <div class="inner-box-regular-cnt">
          <div class="h3">CONNECT WITH US</div>
          <div classs="inline-icons-wrapper">
            <div class="inline-icons">
              <a href="{{settings.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="inline-icons">
              <a href="{{settings.facebook}}" target="_blank"><i class="fa fa-facebook-f"></i></a>
            </div>
            <div class="inline-icons">
              <a href="{{settings.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="inline-icons">
              <a href="{{settings.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="inline-icons">
              <a href="{{settings.pinterest}}" target="_blank"><i class="fa fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
      </div>


</div>
