 <div class="title-form">What are your materials ?</div>
<div class="info-text margin-bottom-25">
  Fashion & Interiors are the primary categorys in Bsamply platform, you can
  select the materials manufactured by your
  company
</div>

<div class="margin-bottom-20">
  <span class="bsly-label">Category*</span><span class="info-required">(at least one category is required)</span>
</div>
  <div *ngFor="let rawMaterial of rawMaterials;let i = index" class="multi-step-item-accordion-wrapper">
    <div class="multi-step-item-accordion-main" (click)="isClicked[i] = !isClicked[i];"
     [attr.aria-expanded]="!isClicked[i]"
      aria-controls="rawMaterial.name">{{ rawMaterial.name }}<div class="multi-step-accordion-plus">
        <i *ngIf="!isClicked[i]" class="fa fa-chevron-up"></i>
        <i *ngIf="isClicked[i]" class="fa fa-chevron-down"></i>
      </div>
    </div>
     <div [ngbCollapse]="isClicked[i]" class="containter-material-items bg-white"   id="rawMaterial.name" >
       <div class="row">
        <div *ngFor="let item of getItems(rawMaterial.name);" class="col-lg-4 col-md-6 col-sm-6 checkbox multi-step-item
          multi-step-item-accordion-child" >
           <label attr.for="{{ item._id }}">
            <input type="checkbox"  id="{{ item._id }}" (change)="Onchange($event, item._id)" [checked]="isRawMaterialChecked(item._id)">
            <span class="cr" [ngClass]="{'checkbox-shadow-selected' : isRawMaterialChecked(item._id)}"><i class="cr-icon fa fa-check"></i></span>
            {{ item.name }}</label>
        </div>
      </div>
    </div>
  </div>

    <div class="d-flex flex-row flex-nowrap justify-content-end align-items-end align-content-between">
      <button type="button" (click)="goPrev()" class="btn btn-outline-primary bsly-btn-medium mr-4">Previous step</button>
    <button class="btn btn-primary bsly-btn-medium" type="button"  (click)="goNext()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span >{{valueBtnNext}}</span>
    </button>
     </div>
     



