
.login {

    @media(min-width:768px){
      padding-top: 80px;
      padding-bottom: 90px;
    }
    @media(max-width:767px){
      padding-top: 40px;
      padding-bottom: 50px;
    }
    
        .form-check {
            margin-bottom: 15px;
    
            label {
                color: #9b9b9b;
                font-size: 13px;
            }
        }
    }
    
    .sub-title {
      color:#2E5266;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 25px;
    
      @media(min-width:768px){
        margin-top: 60px;
      }
      @media(max-width:767px){
        margin-top: 40px;
      }
    }
    