<div class="site-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bsly-page-title text-center">Welcome back to Bsamply</div>
          <div class="sub-title text-center">Log in to continue to your account</div>
          <form name="formLogin" class="bsly-form" (ngSubmit)="onSubmit()"
            #f="ngForm" novalidate>
            <div class="form-group">
                <app-flash-message></app-flash-message>
  
              <input type="email" class="form-control bsly-input bsly-input-large" name="email"
                [(ngModel)]="auth.email" #email="ngModel" placeholder="Email*"
                required [ngClass]="{ 'field_error': f.submitted &&
                !email.valid }" />
              <div *ngIf="f.submitted && !email.valid" class="form-error">This
                field
                is required</div>
  
            </div>
            <div class="form-group">
              <input type="password" class="form-control
                bsly-input bsly-input-large" name="password"
                [(ngModel)]="auth.password" #password="ngModel"
                placeholder="Password*" [ngClass]="{ 'field_error': f.submitted &&
                !password.valid }" appPassword required/>
              <div *ngIf="f.submitted && !password.valid" class="form-error">This
                field
                is required</div>
            </div>
  
            <div class="form-group clearfix">
              <div class="float-left checkbox">
                <label class="form-check-label" attr.for="remember">
                  <input type="checkbox" class="form-check-input" name="remember">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>Remember
                  Me</label>
              </div>
              <div class="float-right">
                <a [routerLink]="['/password-recovery']">I Lost my password</a>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary  btn-lg">Log In</button>
            </div>
            <div class="text-center">New to Bsamply? Create your <a [routerLink]="['/sign-up']"> <strong>Bsamply
                  account</strong></a></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  