<div class="title-form">Join Our Exclusive Network</div>
<div class="info-text">
  An email has been sent to your email adress, <strong>{{ emailUser }}</strong>. please follow the directions in the email to continue
  registration process.
</div>

<div class="btn-form">
  <button class="btn bsly-btn-medium btn-primary
                  float-right" type="button"  (click)="goNext()">
    <span>{{valueBtnNext}}</span>
  </button>
</div>