<div class="site-main">
  <div class="container shadow rounded-lg mb-5 bg-white d-flex  justify-content-center align-items-stretch sign-up-supplier">
    <div class="row">
<div class="col-md-4 right-container bg-white" *ngIf="windowWidth<768">

  <div class="d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center">
    <div class="d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center  bsly-mobi-step"
    *ngIf="currentStepIndex===1">
      <div class="info-img">
        <svg-icon icon="icon-account-creation" class="icon width-45"></svg-icon>
      </div>
      <div class="info-title">Account Creation</div>
    </div>
    <div  *ngIf="currentStepIndex===2" class="d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center  bsly-mobi-step">
      <div class="info-img">
        <svg-icon icon="icon-account-verification" class="icon width-45"></svg-icon>
      </div>
      <div class="info-title">Account Verfication</div>
    </div>
    <div *ngIf="currentStepIndex===3" class="d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center  bsly-mobi-step" >
      <div class="info-img">
            <svg-icon icon="icon-company-informations" class="icon width-45"></svg-icon>
      </div>
      <div class="info-title">Company & Personal Informations</div>
    </div>
    <div *ngIf="currentStepIndex===4" class="d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center  bsly-mobi-step" >
      <div class="info-img">
          <svg-icon icon="icon-list" class="icon width-45"></svg-icon>
      </div>
      <div class="info-title">Select Materials</div>
    </div>
    <div *ngIf="currentStepIndex===5"
      class="d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center  bsly-mobi-step">
      <div class="info-img">
        <svg-icon icon="icon-recovery-icon" class="icon width-45"></svg-icon>
      </div>
      <div class="info-title">Profile status</div>
    </div>
  </div>
  <div class="nav-bar-steps d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center ">
    <span class="step-item flex-row flex-nowrap  justify-content-center align-items-center align-content-center" *ngFor="let step of steps"
      [ngClass]="{'active-step':step===currentStepIndex}">{{step}}</span>
  </div>
</div>

      <div class="col-md-8 col-sm-12 left-container">
         <div class="step" *ngIf="currentStepIndex===1">
          <app-account-information></app-account-information>
        </div>
      <div class="step" *ngIf="currentStepIndex===2">
          <app-account-verification [emailUser]="emailUser"></app-account-verification>
        </div>
         <div class="step" *ngIf="currentStepIndex===3">
          <app-company-informations></app-company-informations>
        </div>
        <div class="step" *ngIf="currentStepIndex===4">
        <app-materials></app-materials>
        </div>
          <div class="step" *ngIf="currentStepIndex===5">
            <app-profile-status></app-profile-status>
          </div>
      </div>

      <div class="col-md-4 right-container bg-white" *ngIf="windowWidth>767">
        <div class="nav-bar-steps d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center ">
          <span class="step-item d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center" *ngFor="let step of steps" [ngClass]="{'active-step':step===currentStepIndex}">{{step}}</span>
        </div>
        <div class="information-sign-up d-flex flex-row flex-nowrap  justify-content-center align-items-center align-content-center">
         <div  *ngIf="currentStepIndex===1">
            <div class="info-img text-center">
              <svg-icon icon="icon-account-creation" class="icon width-80"></svg-icon>
            </div>
            <div class="info-title">Account Creation</div>
            <div class="info-text text-center">Fill out the data on the left. You can always edit the data later in the settings menu</div>
          </div>
          <div  *ngIf="currentStepIndex===2">
            <div class="info-img text-center">
              <svg-icon icon="icon-account-verification" class="icon width-80"></svg-icon>
            </div>
            <div class="info-title">Account Verfication</div>
            <div class="info-text text-center">Fill out the data on the left. You can always edit the data later in the settings menu</div>
          </div>
           <div *ngIf="currentStepIndex===3">
            <div class="info-img text-center">
              <svg-icon icon="icon-company-informations" class="icon width-80"></svg-icon>
            </div>
            <div class="info-title">Company & Personal Informations</div>
            <div class="info-text text-center">Fill out the data on the left. You can always edit the data later in the settings menu</div>
          </div>
         <div  *ngIf="currentStepIndex===4">
            <div class="info-img text-center">
              <svg-icon icon="icon-list" class="icon width-80"></svg-icon>
            </div>
            <div class="info-title">Select Materials</div>
            <div class="info-text text-center">Select materials manufactured by your company to guarantee more connections with brands on the platform</div>
          </div>
          <div *ngIf="currentStepIndex===5">
            <div class="info-img text-center">
              <svg-icon icon="icon-recovery-icon" class="icon width-80"></svg-icon>
            </div>
            <div class="info-title">Profile status</div>
            <div class="info-text text-center">Choose your profile privacy, it can be a public profile, private or both</div>
          </div>
        </div>
        <div class="privacy-policy text-center">
          Learn more about Privacy Policy, Terms and conditions
        </div>

      </div>
    </div>

  </div>

</div>
