form {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.bsly-page-title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

select {
    padding: 4px 20px 4px 5px;
    height: 40px;
}

h4, .h4 {
    font-size: 17px;
}

.sign-up-supplier {
    @media (min-width: 768px) {
        min-height: 794px;
    }

    @media (max-width: 767px) {
        min-height: 300px;
    }
}
