<div class="title-form">Let’s know more about you</div>
<form [formGroup]="companyInformationForm" class="company-informations-form">
  <div class="company-informations">
    <div class="sub-title-form">Company informations</div>

    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label for="companyName" class="bsly-label">Legal Business Name*</label>
          <input type="text"formControlName="companyName"
          class="form-control bsly-input bsly-input-medium" name="companyName"
            placeholder="Type your company name"  [(ngModel)]="supplier.name"/>
            <!-- <div *ngIf="f.companyName.touched && f.companyName.errors" class="form-error"> -->
            <div *ngIf="f['companyName'].touched && f['companyName'].errors" class="form-error">

              <!-- <div *ngIf="f.companyName.errors.required">This field is required</div> -->
              <div *ngIf="f['companyName'].errors['required']">This field is required</div>

            </div>
        </div>
        <div class="form-group">
          <label for="country" class="bsly-label">Country*</label>
          <ngx-select [items]="countries"  formControlName="country"
            [ngClass]="{ 'field_error': f['country'].touched && f['country'].errors }"
            [(ngModel)]="supplier.country" placeholder="Type to choose country"
            (close)	="getCities(supplier.country)"></ngx-select>
            <div *ngIf="f['country'].touched && f['country'].errors" class="form-error">
              <div *ngIf="f['country'].errors['required']">This field is required</div>
            </div>
        </div>
        <div class="form-group">
          <label for="address" class="bsly-label">Address</label>
          <input type="text" formControlName="address" [(ngModel)]="supplier.address"
          class="form-control bsly-input bsly-input-medium" name="address" placeholder="Street business adress" />
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label for="companyWebSite" class="bsly-label">Company Website</label>
          <input type="text" formControlName="companyWebSite" [(ngModel)]="supplier.website"
            class="form-control bsly-input bsly-input-medium" name="companyWebSite"
            placeholder="Ex: www.company.com" />
        </div>
        <div class="form-group">
          <label for="taxID" class="bsly-label">Tax ID*</label>
          <input type="text" formControlName="taxID"  [(ngModel)]="supplier.taxID"
          class="form-control bsly-input bsly-input-medium" name="taxID" placeholder="Type company business tax ID"
            />
            <div *ngIf="f['taxID'].touched && f['taxID'].errors" class="form-error">
              <div *ngIf="f['taxID'].errors['required']">This field is required</div>
            </div>
        </div>
        <div class="form-group ">
          <div class="row">
            <div class="col-sm-8">
              <label for="cityProvince" class="bsly-label">City / Province</label>
                <ngx-select [items]="states" formControlName="cityProvince"
                 [(ngModel)]="supplier.city"
                  placeholder="Type to choose city" ></ngx-select>
            </div>
            <div class="col-sm-4 zip-code">
              <label for="zipCode" class="bsly-label">Zip</label>
              <input type="text" formControlName="zipCode" [(ngModel)]="supplier.zipCode"
                class="form-control bsly-input bsly-input-medium" name="zipCode" placeholder="Zip code" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
    <div class="personnel-informations">
      <div class="sub-title-form">Personal informations</div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="firstName" class="bsly-label">First Name*</label>
            <input type="text" formControlName="firstName" class="form-control
              bsly-input bsly-input-medium" [(ngModel)]="user.firstName"
              [ngClass]="{ 'field_error':f['firstName'].errors &&
              f['firstName'].touched}"
              name="firstName" placeholder="Type your name" />
              <div *ngIf="f['firstName'].touched &&f['firstName'].errors" class="form-error">
                <div *ngIf="f['firstName'].errors['required']">This field is required</div>
              </div>
          </div>
          <div class="form-group">
            <label for="phoneNumber" class="bsly-label">Phone Number*</label>
            <input type="text" formControlName="phoneNumber" class="form-control
              bsly-input bsly-input-medium"
              [ngClass]="{ 'field_error':f['phoneNumber'].errors &&
              f['phoneNumber'].touched}" [(ngModel)]="supplier.phoneNumber"
              name="phoneNumber" placeholder="555 - 555 5555" />
              <div *ngIf="f['phoneNumber'].touched &&f['phoneNumber'].errors" class="form-error">
                <div *ngIf="f['phoneNumber'].errors['required']">This field is required</div>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="lastName" class="bsly-label">Last Name*</label>
            <input type="text" formControlName="lastName" class="form-control
              bsly-input bsly-input-medium" [(ngModel)]="user.lastName"
              [ngClass]="{ 'field_error':f['lastName'].errors &&
              f['lastName'].touched}"
              name="lastName" placeholder="Type your family name" />
              <div *ngIf="f['lastName'].touched &&f['lastName'].errors" class="form-error">
                <div *ngIf="f['lastName'].errors['required']">This field is required</div>
              </div>
          </div>
          <div class="form-group">
            <label for="roleAtCompany" class="bsly-label">Role at your Company*</label>
            <select formControlName="roleAtCompany" name="roleAtCompany"
              [ngClass]="{ 'field_error':f['roleAtCompany'].errors &&
              f['roleAtCompany'].touched}" [(ngModel)]="user.roleAtCompany"
              class="form-control bsly-input bsly-input-medium bsly-select">
              <option value="" disabled selected >choose</option>
              <option value="administration" class="custom_field_select_option">Administration</option>
              <option value="marketing" class="custom_field_select_option">Marketing</option>
              <option value="product" class="custom_field_select_option">Product</option>
              <option value="operations" class="custom_field_select_option">Operations</option>
              <option value="sales" class="custom_field_select_option">Sales</option>
              <option value="logistics" class="custom_field_select_option">Logistics</option>
              <option value="owner" class="custom_field_select_option">Owner</option>
              <option value="other" class="custom_field_select_option">Other</option>
            </select>
            <div *ngIf="f['roleAtCompany'].touched &&f['roleAtCompany'].errors" class="form-error">
              <div *ngIf="f['roleAtCompany'].errors['required']">This field is required</div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </form>


  <div class="d-flex flex-row flex-nowrap justify-content-end align-items-end align-content-between">
    <button type="button" (click)="goPrev()" class="btn btn-outline-primary bsly-btn-medium mr-4">Previous step</button>
  <button class="btn btn-primary bsly-btn-medium" type="button"  (click)="goNext()">
  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span >{{valueBtnNext}}</span>
  </button>
   </div>