.company-informations {
    margin-top: 28px;
    margin-bottom: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid #F4F4F4;
}

.company-informations-form {
    .bsly-input, .form-group {
        @media (min-width: 992px) {
            max-width: 256px;
        }

        @media (max-width: 991px) {
            max-width: 415px;
        }
    }
}

.zip-code {
    @media (min-width: 768px) {
        padding-left: 0;
    }

    @media (max-width: 767px) {
        margin-top: 15px;
    }
}
