/* You can add global styles to this file, and also import other style files */

// @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
// @import "./assets/scss/general.scss";
@import "./assets/scss/general.scss";



.bsly-btn-loadmore {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 70px;

  .bsly-btn.bsly-btn-style-outline.bsly-btn-color-gray {
    border-color: #9d9d9d;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    line-height: 26px;
    font-size: 16px;
    padding: 15px 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;

    &:hover {
      background: #000;
      color: #fff !important;
    }
  }
}

.bsly-btn-style-outline-reverse {
  background-color: #ffffff;
  color: #2E5266;
  border: 2px solid #2E5266;

  &:hover {
    background: #2E5266;
    color: #fff !important;
  }
}
